doctype html
html(lang="zh-Hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CSS3 動畫練習
    link(rel="stylesheet", href="./css/style.css")
    style
      //- include ../css/style.css
  body
    h1 default