doctype html
html(lang="zh-Hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CSS3 動畫練習
    link(rel="stylesheet", href="./css/style.css")
    style
      //- include ../css/style.css
  body
    .con_body
      .pic 
        img(src="./images/pic_01.jpg", alt="")
      i
        pre.blue. 
          嗨！歡迎加入國立科技高中。
          參加社團不僅可以豐富自己的人生、寬闊自己的視野，
          也能砥礪技能、磨練人際、培養第二專長。
          選擇一項您喜歡的社團，積極的參與和投入，
          您會獲得一陣陣的驚喜！ 
