body {
  background-color: #eee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
  padding-left: 5em;
  margin: 0;
}

.body {
  background-color: #fff;
  margin: 3em auto 0 auto;
}
.body nav {
  width: 5em;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ccc;
  border-right: 4px solid #fff;
}
.body nav a {
  height: 3em;
  width: 5em;
}
.body nav a.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.boxIn {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
}

.boxIn#box1 {
  background-color: #ff6fa7;
}

nav a:nth-child(1) {
  background-color: #ff6fa7;
}

.boxIn#box2 {
  background-color: #ff7c70;
}

nav a:nth-child(2) {
  background-color: #ff7c70;
}

.boxIn#box3 {
  background-color: #ffa94d;
}

nav a:nth-child(3) {
  background-color: #ffa94d;
}

.boxIn#box4 {
  background-color: #ffcd4d;
}

nav a:nth-child(4) {
  background-color: #ffcd4d;
}

.boxIn#box5 {
  background-color: #c9e265;
}

nav a:nth-child(5) {
  background-color: #c9e265;
}

.boxIn#box6 {
  background-color: #8de3a9;
}

nav a:nth-child(6) {
  background-color: #8de3a9;
}