doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./css/style3.css")
    style 
      //- include ../css/style.css 
  body 
    .layout
      a(href="#").img1
      a(href="#").img2
      a(href="#").img3
      a(href="#").img4
      a(href="#").img5
      a(href="#").img6