doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./css/style.css")
    style 
      //- include ../css/style.css 
  body 
    .body 
      //- nav>a.link.btn$*6[href="#box$"]
      nav
        a.link(href="#box1") 第 1 個
        a.link(href="#box2") 第 2 個
        a.link(href="#box3") 第 3 個
        a.link(href="#box4") 第 4 個
        a.link(href="#box5") 第 5 個
        a.link(href="#box6") 第 6 個 

      #box1.boxIn  1 
      #box2.boxIn  2 
      #box3.boxIn  3 
      #box4.boxIn  4 
      #box5.boxIn  5 
      #box6.boxIn  6  




