body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.box {
  width: 400px;
  height: 400px;
  background-color: #eee;
  box-sizing: border-box;
  margin: 50px auto;
  position: relative;
}
.box span {
  display: inline-flex;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}
.box span::after {
  z-index: 2;
  content: " ";
  display: block;
  position: absolute;
  bottom: -10px;
  left: -4px;
}
.box span big {
  margin: 0;
  position: absolute;
  font-size: 3em;
  color: #fff;
}
.box span.box01 {
  margin-bottom: 50%;
  margin-right: -50%;
  background-color: orange;
  border-radius: 3em;
}
.box span.box01::after, .box span.box01::before {
  content: " ";
  width: 40px;
  height: 40px;
  display: block;
  border: 15px solid #000;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50px;
}
.box span.box01::after {
  left: 25px;
}
.box span.box01::before {
  right: 25px;
}
.box span.box02 {
  width: 25%;
  margin-left: -25%;
  background-color: green;
  border-top-left-radius: 1em;
}
.box span.box02::after {
  width: 100%;
  height: 50px;
  background-color: green;
  border: 8px solid #000;
  position: absolute;
  bottom: -10px;
  left: -8px;
  position: absolute;
  border-radius: 6px;
}
.box span.box03 {
  background-color: red;
}
.box span.box04 {
  margin-right: 25%;
  width: 25%;
  background-color: blue;
  border-top-right-radius: 1em;
}
.box span.box04::after {
  width: 100%;
  height: 50px;
  background-color: blue;
  border: 8px solid #000;
  position: absolute;
  bottom: -10px;
  left: -8px;
  position: absolute;
  border-radius: 6px;
}
.box span.box05 {
  margin-top: -4px;
  width: 25%;
  background-color: purple;
}
.box span.box05::after {
  width: 100%;
  height: 50px;
  background-color: purple;
  border: 8px solid #000;
  position: absolute;
  bottom: -10px;
  left: -16px;
  position: absolute;
  border-radius: 6px;
}
.box span.box06 {
  margin-top: -4px;
  width: 25%;
  background-color: brown;
}
.box span.box06::after {
  width: 100%;
  height: 50px;
  background-color: brown;
  border: 8px solid #000;
  position: absolute;
  bottom: -10px;
  left: 0px;
  position: absolute;
  border-radius: 6px;
}