doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./css/style01.css")
    style 
      //- include ../css/style01.css 
  body 
    h2 attr css 

    .box 
      form(action="") 
        label(for="")  
          span 帳號 : 
          input(type="text" placeholder="text")
        label(for="")   
          span 密碼 :
          input(type="password" placeholder="password")
        label(for="")   
          span 幸運號碼 :
          input(type="number" placeholder="number")
        label(for="") 
          input(type="submit", value="送出")
