doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Flat Design Demo
    //- link(rel="stylesheet", href="./css/style.css")
    style 
      include ../css/style.css 
  body 
    h1 Flat Design Color Picker
    .box 
    .btn_box 
      button.btn1 1
      button.btn2 2
      button.btn3 3
      button.btn4 4
      button.btn5 5
      button.btn6 6
    
    //- script(src="./js/main.js")
    script 
      include ../js/main.js 
