doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./css/style.css")
    style 
      include ../css/style.css 
  body 
    //- h1 External CSS
    .a1
      | 劉備
      p
        | 劉封
      p
        | 劉禪
    .a2
      | 關羽
    .a3
      | 張飛
