doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 國立科技高中─校園社團介紹網
    link(rel="stylesheet", href="./css/style.css")
    style 
      //- include ../css/style.css 
  body 
    .body 
      .top 
        img(src="./images/logo.png", width="100%" height="auto")
      .main
        nav.menu 
          ul 
            h2 社團介紹 
            li
              a(href="./guitar_history.html" target="iframe_info") 吉他社
            li
              a(href="" target="") 熱舞社
            li
              a(href="#" target="") 棒球社
            li
              a(href="#" target="") 網球社
            li
              a(href="#" target="") 足球社
            li
              a(href="#" target="") 童軍社
          .update 最新更新日期: yyyy/mm/dd

        .content
          marquee(behavior="歡迎光臨校園社團介紹網，參觀後請支持社團活 動並熱烈參與", direction="") 歡迎光臨校園社團介紹網，參觀後請支持社團活 動並熱烈參與
          .content-init 
            iframe( src="./main.html" name="iframe_info" frameborder="0") 

      .footer 網頁設計與維護：ＸＸＯＯＯＯ




