doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./css/style.css")
  body 
    h1 margin
    .box 
      span.box01 
        big 1 
      span.box02  
        big 2 
      span.box03  
        big 3 
      span.box04  
        big 4 
