body {
  background-color: #eee;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 80%;
  margin: 3em auto;
}
table tr td, table tr th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 0.5em;
}