html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.body {
  width: 1024px;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: ridge;
}
.body .top {
  height: 65px;
  display: inline-flex;
  background-size: contain;
  background-position: center;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  border-bottom: ridge;
}
.body .main {
  flex: 1;
  display: flex;
}
.body .main .menu {
  width: 215px;
  border-right: ridge;
  display: flex;
  flex-direction: column;
}
.body .main .menu h2 {
  width: 100%;
  font-size: 1.25em;
  text-align: center;
  color: #ff6fa7;
  margin: 0;
  padding: 0.5em;
}
.body .main .menu ul {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
.body .main .menu ul li {
  background-image: url("../images/menu1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 0.5em 1em;
}
.body .main .menu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.body .main .menu .update {
  border-top: ridge;
  height: 25px;
  felx: 0 0 25px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .main .content {
  flex: 1;
}
.body .main .content marquee {
  height: 29px;
  border-bottom: ridge;
  color: blue;
}