doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="./css/style_01.css")
  body 
    h2 超連結 
    p
      a(href="./f1.html") f1
      |  
      a(href="./f2.html") f2
      |  
      a(href="./f3.html") f3
    
    //- ul 
      li(style="background-image: url(./images/pic1.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara1") 
          |Bencotto義式餐廳
      li(style="background-image:url(./images/pic2.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara2") 
          |TUTTO BELLO 酒庫
      li(style="background-image:url(./images/pic3.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara4") 
          |Ziga Zaga
      li(style="background-image:url(./images/pic4.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara5") 
          |Botega del Vin Taipei
      li(style="background-image:url(./images/pic5.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara6") 
          |solo pasta
      li(style="background-image:url(./images/pic6.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara7") 
          |Snail 蝸牛義大利餐廳
      li(style="background-image:url(./images/pic7.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara8") 
          |DiVino Taipei
      li(style="background-image:url(./images/pic8.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara10") 
          |Fermi Pasta
      li(style="background-image:url(./images/pic9.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara11") 
          |驢子餐廳
      li(style="background-image:url(./images/pic10.webp);")
        a(href="https://www.vogue.com.tw/lifestyle/galerie/%E5%8F%B0%E5%8C%97-%E7%BE%A9%E5%A4%A7%E5%88%A9#chara12") 
          |你家樓下



          